# Ducky One X Keyboard
# Grants universally open 0666 permissions to the raw HID device for WebHID configuration.
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3233", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="3233", MODE="0666"
